/* You can add global styles to this file, and also import other style files */
.lora {
font-family: 'Lora', serif;
font-size: 50px;
letter-spacing: 2px;
}

.oxygen {
font-family: 'Oxygen', sans-serif;
}